**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
!mysql-connector-j-9.5.0.jar

# Log fajlovi
*.log
*.lck
logs/
log/
**/server.log
**/*.log
**/*.lck
/JavaApp0701/target/
